@{
    var FistName = Context.Session.GetString("FistName");
    var LastName = Context.Session.GetString("LastName");
    var avata = Context.Session.GetString("Avata");

}
<!-- Sidebar -->
<div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        @if (string.IsNullOrEmpty(avata))
        {
            <div class="image">
                <img src="@avata" class="img-circle elevation-2" alt="User Image">
            </div>
        }
        else
        {
        <div class="image">
            <img src="~/Hinh/@avata" class="img-circle elevation-2" alt="User Image">
        </div>
        }
        
        <div class="info">
            <a href="#" class="d-block">@FistName @LastName</a>
        </div>
     
             
           
    </div>

   

    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    
            <li class="nav-item">
                    <a href="/home/index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home 
                        </p>
                    </a>
            </li>
           
            
                <li class="nav-item">
                    <a href="/Courses/Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Courses
                        </p>
                    </a>
                </li>
           
                <li class="nav-item">
                    <a href="/Majors/Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
					<p>

						Major
                        </p>
                    </a>
                </li>
          
                <li class="nav-item">
                <a href="/Home/Student" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                       Student
                     
                    </p>
                </a>
            </li>
           
                <li class="nav-item">
                <a href="/Home/Teacher" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Teacher
                    </p>
                </a>
                </li>
           
               
            
        </ul>
    </nav>
</div>
